@model IEnumerable<Cor.clientes>

@{
    ViewBag.Title = "Index";
  
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear Nuevo Cliente", "Crear")
</p>
<table class="table responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ocupacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ocupacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.Codigo }) |
            @Html.ActionLink("Detalle Tarjetas", "ListadoTarjetas", new { id = item.Codigo })         

        </td>
    </tr>
}

</table>
